<a href="https://colab.research.google.com/github/nisha1365/Open-AI-Python/blob/main/NLP_to_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.6-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.9/71.9 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Collecting aiohttp (from openai)
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 15.5 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Collecting multidict<7.0,>=4.5 (from aiohttp->openai)
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 4.1 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3 (from aiohttp->openai)
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0 (from aiohttp->openai)
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 8.3 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1 (from aiohttp->openai)
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 6.2 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2 (from aiohttp->openai)
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.6 yarl-1.9.2

In [2]:
import openai
import os

In [3]:
os.environ['OPENAI_API_KEY'] = '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'

In [4]:

openai.api_key = os.getenv('OPENAI_API_KEY')

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/car_sales_data.csv')

In [7]:
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,225,18,24,3880,115,197

In [11]:
df.groupby('Make').sum()

<ipython-input-11-d6aabe57f097>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Make').sum()

,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
Make,,,,,,,,,,
Acura,300570.0,270136.0,21.3,38.0,1675,136,183,24960,750,1298
Audi,822850.0,747272.0,58.1,116.0,4765,351,490,70312,2001,3447
BMW,865705.0,792413.0,62.5,128.0,4829,374,540,72227,2179,3602
Buick,274840.0,250694.0,33.5,54.0,1930,170,250,33819,1004,1781
Cadillac,403795.0,371415.0,37.9,62.0,2385,132,184,34909,923,1598
Chevrolet,717850.0,649642.0,100.8,162.0,5746,531,725,98286,3003,5174
Chrysler,408780.0,379051.0,44.4,80.0,3017,298,410,53015,1638,2850
Dodge,341300.0,314081.0,45.3,74.0,2726,252,341,47304,1466,2525
Ford,552365.0,504919.0,81.7,144.0,4551,443,592,86225,2563,4414
GMC,236484.0,210315.0,37.2,54.0,2025,123,157,37851,997,1668
Honda,364390.0,331717.0,40.5,77.0,2880,473,578,52717,1775,3048
Hummer,49995.0,45815.0,6.0,8.0,316,10,12,6400,123,190
Hyundai,209718.0,192424.0,28.6,60.0,1796,276,359,35160,1228,2143
Infiniti,288560.0,263040.0,31.0,54.0,2330,138,191,29928,891,1525
Isuzu,52298.0,49238.0,7.4,12.0,468,32,41,8803,235,386
Jaguar,738965.0,673181.0,46.3,90.0,3684,210,307,45861,1324,2292
Jeep,73555.0,67934.0,10.4,16.0,535,52,64,11191,303,505
Kia,174635.0,163794.0,25.8,52.0,1574,241,317,34847,1132,1977
Land Rover,137495.0,125553.0,11.5,22.0,673,42,53,13532,314,555
Lexus,486370.0,426360.0,40.9,76.0,2680,192,258,42999,1189,2042
Lincoln,385880.0,352222.0,37.6,68.0,2343,151,211,38913,1053,1826
MINI,36998.0,33574.0,3.2,8.0,278,53,71,5202,194,287
Mazda,239478.0,222117.0,24.1,40.0,1867,236,300,32790,1156,1956
Mercedes-Benz,1577077.0,1467786.0,101.5,184.0,7246,451,615,100150,2813,4749
Mercury,251755.0,230918.0,35.6,62.0,1896,158,221,35176,1022,1838
Mitsubishi,304507.0,283852.0,36.1,64.0,2396,272,354,43656,1358,2392
Nissan,420426.0,390957.0,57.9,98.0,3876,335,432,61507,1898,3223
Oldsmobile,71290.0,65247.0,9.0,16.0,495,63,87,9979,334,575
Pontiac,265720.0,243756.0,37.7,64.0,2155,226,307,37850,1202,2081
Porsche,584955.0,515640.0,24.8,44.0,2248,122,173,23297,674,1228
Saab,263480.0,249342.0,14.9,28.0,1560,143,202,24090,738,1300
Saturn,137875.0,128544.0,18.4,34.0,1165,195,263,23265,836,1486
Scion,27130.0,25820.0,3.0,8.0,216,63,73,4765,191,309
Subaru,280520.0,256273.0,28.0,48.0,2106,223,298,36733,1125,1997
Suzuki,129842.0,127130.0,18.6,38.0,1208,177,223,23823,812,1401
Toyota,630685.0,568286.0,75.1,144.0,5059,684,859,91764,2990,5188
Volkswagen,483730.0,445240.0,42.1,86.0,3020,321,428,54948,1571,2691
Volvo,435770.0,410594.0,29.5,61.0,2680,237,320,43110,1285,2216

In [12]:
!pip install sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.10)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)

In [13]:
import sqlalchemy

In [14]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [15]:
# Temporary Data base in RAM
# Push Pandas df ----> Temp DB

# SQL query

In [16]:
temp_db = create_engine('sqlite:///:memory:', echo = True)

In [17]:
data = df.to_sql(name = 'Sales', con = temp_db)

2023-05-18 11:09:31,664 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-18 11:09:31,673 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Sales")

2023-05-18 11:09:31,680 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-05-18 11:09:31,685 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Sales")

2023-05-18 11:09:31,689 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-05-18 11:09:31,692 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

2023-05-18 11:09:31,697 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-18 11:09:31,700 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"Make" TEXT,
	"Model" TEXT,
	"Type" TEXT,
	"Origin" TEXT,
	"DriveTrain" TEXT,
	"MSRP" FLOAT,
	"Invoice" FLOAT,
	"EngineSize" FLOAT,
	"Cylinders" FLOAT,
	"Horsepower" BIGINT,
	"MPG_City" BIGINT,
	"MPG_Highway" BIGINT,
	"Weight" BIGINT,
	"Wheelbase" BIGINT,
	"Length" BIGINT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Sales" (
	"index" BIGINT,
	"Make" TEXT,
	"Model" TEXT,
	"Type" TEXT,
	"Origin" TEXT,
	"DriveTrain" TEXT,
	"MSRP" FLOAT,
	"Invoice" FLOAT,
	"EngineSize" FLOAT,
	"Cylinders" FLOAT,
	"Horsepower" BIGINT,
	"MPG_City" BIGINT,
	"MPG_Highway" BIGINT,
	"Weight" BIGINT,
	"Wheelbase" BIGINT,
	"Length" BIGINT
)

2023-05-18 11:09:31,702 INFO sqlalchemy.engine.Engine [no key 0.00241s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00241s] ()

2023-05-18 11:09:31,706 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

2023-05-18 11:09:31,708 INFO sqlalchemy.engine.Engine [no key 0.00281s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00281s] ()

2023-05-18 11:09:31,711 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-05-18 11:09:31,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-18 11:09:31,734 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "Make", "Model", "Type", "Origin", "DriveTrain", "MSRP", "Invoice", "EngineSize", "Cylinders", "Horsepower", "MPG_City", "MPG_Highway", "Weight", "Wheelbase", "Length") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Sales" ("index", "Make", "Model", "Type", "Origin", "DriveTrain", "MSRP", "Invoice", "EngineSize", "Cylinders", "Horsepower", "MPG_City", "MPG_Highway", "Weight", "Wheelbase", "Length") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2023-05-18 11:09:31,747 INFO sqlalchemy.engine.Engine [generated in 0.02024s] [(0, 'Acura', 'MDX', 'SUV', 'Asia', 'All', 36945.0, 33337.0, 3.5, 6.0, 265, 17, 23, 4451, 106, 189), (1, 'Acura', 'RSX Type S 2dr', 'Sedan', 'Asia', 'Front', 23820.0, 21761.0, 2.0, 4.0, 200, 24, 31, 2778, 101, 172), (2, 'Acura', 'TSX 4dr', 'Sedan', 'Asia', 'Front', 26990.0, 24647.0, 2.4, 4.0, 200, 22, 29, 3230, 105, 183), (3, 'Acura', 'TL 4dr', 'Sedan', 'Asia', 'Front', 33195.0, 30299.0, 3.2, 6.0, 270, 20, 28, 3575, 108, 186), (4, 'Acura', '3.5 RL 4dr', 'Sedan', 'Asia', 'Front', 43755.0, 39014.0, 3.5, 6.0, 225, 18, 24, 3880, 115, 197), (5, 'Acura', '3.5 RL w/Navigation 4dr', 'Sedan', 'Asia', 'Front', 46100.0, 41100.0, 3.5, 6.0, 225, 18, 24, 3893, 115, 197), (6, 'Acura', 'NSX coupe 2dr manual S', 'Sports', 'Asia', 'Rear', 89765.0, 79978.0, 3.2, 6.0, 290, 17, 24, 3153, 100, 174), (7, 'Audi', 'A4 1.8T 4dr', 'Sedan', 'Europe', 'Front', 25940.0, 23508.0, 1.8, 4.0, 170, 22, 31, 3252, 104, 179)  ... displaying 10 of 428 total bound parameter sets ...  (426, 'Volvo', 'V40', 'Wagon', 'Europe', 'Front', 26135.0, 24641.0, 1.9, 4.0, 170, 22, 29, 2822, 101, 180), (427, 'Volvo', 'XC70', 'Wagon', 'Europe', 'All', 35145.0, 33112.0, 2.5, 5.0, 208, 20, 27, 3823, 109, 186)]

INFO:sqlalchemy.engine.Engine:[generated in 0.02024s] [(0, 'Acura', 'MDX', 'SUV', 'Asia', 'All', 36945.0, 33337.0, 3.5, 6.0, 265, 17, 23, 4451, 106, 189), (1, 'Acura', 'RSX Type S 2dr', 'Sedan', 'Asia', 'Front', 23820.0, 21761.0, 2.0, 4.0, 200, 24, 31, 2778, 101, 172), (2, 'Acura', 'TSX 4dr', 'Sedan', 'Asia', 'Front', 26990.0, 24647.0, 2.4, 4.0, 200, 22, 29, 3230, 105, 183), (3, 'Acura', 'TL 4dr', 'Sedan', 'Asia', 'Front', 33195.0, 30299.0, 3.2, 6.0, 270, 20, 28, 3575, 108, 186), (4, 'Acura', '3.5 RL 4dr', 'Sedan', 'Asia', 'Front', 43755.0, 39014.0, 3.5, 6.0, 225, 18, 24, 3880, 115, 197), (5, 'Acura', '3.5 RL w/Navigation 4dr', 'Sedan', 'Asia', 'Front', 46100.0, 41100.0, 3.5, 6.0, 225, 18, 24, 3893, 115, 197), (6, 'Acura', 'NSX coupe 2dr manual S', 'Sports', 'Asia', 'Rear', 89765.0, 79978.0, 3.2, 6.0, 290, 17, 24, 3153, 100, 174), (7, 'Audi', 'A4 1.8T 4dr', 'Sedan', 'Europe', 'Front', 25940.0, 23508.0, 1.8, 4.0, 170, 22, 31, 3252, 104, 179)  ... displaying 10 of 428 total bound parameter sets ...  (426, 'Volvo', 'V40', 'Wagon', 'Europe', 'Front', 26135.0, 24641.0, 1.9, 4.0, 170, 22, 29, 2822, 101, 180), (427, 'Volvo', 'XC70', 'Wagon', 'Europe', 'All', 35145.0, 33112.0, 2.5, 5.0, 208, 20, 27, 3823, 109, 186)]

2023-05-18 11:09:31,753 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-05-18 11:09:31,756 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-18 11:09:31,758 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2023-05-18 11:09:31,761 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-05-18 11:09:31,764 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [21]:
with temp_db.connect() as conn:
  # makes the conncection
  # run the code indention/block
  result = conn.execute(text("SELECT SUM(EngineSize) from Sales"))
  # auto close connection

2023-05-18 11:12:56,946 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-18 11:12:56,951 INFO sqlalchemy.engine.Engine SELECT SUM(EngineSize) from Sales

INFO:sqlalchemy.engine.Engine:SELECT SUM(EngineSize) from Sales

2023-05-18 11:12:56,953 INFO sqlalchemy.engine.Engine [generated in 0.00684s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00684s] ()

2023-05-18 11:12:56,959 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [22]:
result.all()

[(1368.2000000000012,)]

In [23]:
def create_table_defination(df):
  prompt = """### sqlite SQL table, with it properties:
  #
  #Sales({})
  #
  """.format(",".join(str(col) for col in df.columns))
  return prompt

In [26]:
",".join(str(col) for col in df.columns)

'Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length'

In [28]:
print(create_table_defination(df))

None

In [33]:
def prompt_input():
  nlp_text = input("Enter the info you want: ")
  return nlp_text

In [34]:
prompt_input()

Enter the info you want: grab all EngineSize per quarter

'grab all EngineSize per quarter'

In [37]:
def combine_prompts(df, query_prompt):
  defination = create_table_defination(df)
  query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
  return defination+query_init_string